@import url('http://fonts.cdnfonts.com/css/gotham');


*{
    margin: 0;
    padding: 0;
  
    overflow: hidden;
    color: white;
    font-family: 'Gotham', sans-serif;

}

body{
     background-color: black;
}


.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height:100px;
   

}



.Abstaract_Shape1{
    position: absolute;
    width: 800px;
    height: 600px;
   left: 80%;
   top: -10%;
    background-image: url("../Images/Abstract_Shape1.png"); 
    background-size:contain;
    background-repeat: no-repeat;
    
  }

  
.Abstaract_Shape2{
    justify-content: center;
    position: absolute;
    width: 400px;
    height: 650px;
    top: 40%;
    transform: rotate(-90deg);
    left: 0;
    background-image: url("../Images/Abstract_Shape2.png"); 
    background-size:contain;
   background-repeat: no-repeat;
 }


.wrapper_calendar{
    position: absolute;
    top: 12%;

    
}





.colortext {
  color: darkred;
}


table{
  border-collapse: collapse;
   width: 1200px;
   text-align: right;
   
}

th{
    padding: 10px;
}

td{
    vertical-align: top;
    border: 1px rgba(72, 72, 74, 1) solid;
    padding: 5px;
    width: 10%;
    background-color: rgba(28, 28, 30, 1);
    height: 100px; 

}

.weekand{
    background-color: rgb(39, 39, 39);
}

.remind{
  background-color: darkred;
  border-radius: 5px;
  margin: 8px 0;
}

.remind label{
    margin-right: 8px;
}


.modal_window{
    position: fixed;
    z-index: 2;
    display: none;
    background-color: rgba(121, 118, 118, 0.4);
    width: 100%;
  height: 100%;
    overflow: auto; 
}


.modal_content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
    width: 35%;
    background-color: white;
    

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}


.header h2{
    text-align: left;
    color: black;
}

.content{
    margin-top: 30px;
    color: black;
}

li{
    margin-bottom: 20px;
    color: black;
}


.add_new{
    display: flex;

}


input{
    height: 25px;
}

input[type='text']{
    color: black;
    
}


input[type='submit']{
    font-family: 'Miriam Libre';
    color: white;
    background-color: black;
    margin-left: 10px;
    height: 29px;
font-size: 20px;
    width: 151px;
    cursor: pointer;
}

input[type='submit']:hover{
   background-color: rgb(46, 46, 46); 
}





