@import url('http://fonts.cdnfonts.com/css/gotham');


*{
    margin: 0;
    padding: 0;
   background-color: black;
    overflow: hidden;
    color: white;
    font-family: 'Gotham', sans-serif;

}


.wrapper{
    display: flex;
    justify-content: center;
    
}



.Abstaract_Shape1{
    position: absolute;
    width: 800px;
    height: 600px;
   left: 80%;
   top: -10%;
    background-image: url("../Images/Abstract_Shape1.png"); 
    background-size:contain;
    background-repeat: no-repeat;
   z-index: 1;
  }

  
.Abstaract_Shape2{
    justify-content: center;
    position: absolute;
    width: 400px;
    height: 650px;
    top: 40%;
    transform: rotate(-90deg);
    left: 0;
    background-image: url("../Images/Abstract_Shape2.png"); 
    background-size:contain;
   background-repeat: no-repeat;
 }


.wrapper_calendar{
    margin-top: 5%;
    z-index: 1;
}

.colortext {
  color: darkred;
}


table{
  border-collapse: collapse;
   width: 1200px;
   text-align: right;
   
}

th{
    padding: 10px;
}

td{
    vertical-align: top;
    border: 1px rgba(72, 72, 74, 1) solid;
    padding: 5px;
    width: 10%;
    background-color: rgba(28, 28, 30, 1);
    height: 100px;
    
}

.weekand{
    background-color: rgb(39, 39, 39);
}











